@import url('https://fonts.googleapis.com/css2? family= Itim & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Press+Start+2P & display=swap');

body {
    background-image: url(fondo.jpg);
    margin-top: 25px;
}

a {

    font-family: 'Press Start 2P', cursive;
    color: gold;
    height: 100%;
    width: 120%;
  
   
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: gold;
    display: flex;
    justify-content: center;
    align-items: center;

}




.form-contenedor {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    font-family:'Itim', cursive;
    margin-top: 25px;
    color: #d4d700;
    border-left: 0.2%;
    background: rgba(5, 7, 12, 0.40);
}

.form-grupo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 25px;
    color: #d4d700;
}



label {
    font-weight: bold;
    margin-bottom: 10px;
    color: gold;
}

input,
textarea  {
    padding-left: 10px;
    font-size: 1.6rem;
    color: #d4d700;
    border: 3px gold solid;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    background: rgba(4, 55, 184, 0.30);

}

.form-boton {
    background-color:gold;
    color:rgb(102, 8, 28);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 40%;
    font-family: 'Itim', cursive;
    
}

.form-contenedor-boton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Itim', cursive;

}

